@using NetProductivity.Controllers
@model Dictionary<string, List<TaskP>>

@{
    ViewBag.Title = "Goals -";
    Layout = "_Layout";
    <link href="~/css/main.css" rel="stylesheet" type="text/css" />
}

@*<head>
    <script src="~/js/main.js" type="text/javascript"></script>
</head>*@

<main>
    <header>
        <span><i class="fa fa-arrow-left"></i><span class="sr-only">Back</span></span>
        <h3>Today</h3>
        <div class="task-indicators">
            <span><i class="fa fa-check"></i>@Model.Keys.Count</span>
        </div>
    </header>
    @if (Model.Keys.Count != 0)
    {
        <section class="task-list current">
            @foreach (var task in Model)
            {

                <h2>@task.Key</h2>
                <span >Add</span>
                <ul>
                    @if (task.Value.Count != 0)
                    {
                        foreach (var proj in task.Value)
                         {
                             <li>

                                 <div class="checkbox">
                                     <div class="check">
                                         <input type="checkbox" name="task_00">
                                         <div class="ripple-container">
                                             <div class="check-off"></div>
                                             <div class="check-on"><i class="fa fa-check"></i></div>
                                             <div class="check-ripple"></div>
                                         </div>
                                     </div>
                                     <div class="label">
                                         <mark>@proj.Name</mark>
                                         <br>
                                         <time datetime="05-12-2016">@proj.EndDate</time>
                                     </div>
                                 </div>
                                 <span class="task-msg">Well done!</span>
                             </li>
                         }
                    }
                    else
                    {
                        ProductivityController.CurrentProj = task.Key;
                     <div class="content2">NO TASKS? <a asp-controller="Productivity" asp-action="СreateTask" >CREATE ONE</a></div>
                    }
                    @*<li>
                        <div class="checkbox">
                            <div class="check">
                                <input type="checkbox" name="task_00">
                                <div class="ripple-container">
                                    <div class="check-off"></div>
                                    <div class="check-on"><i class="fa fa-check"></i></div>
                                    <div class="check-ripple"></div>
                                </div>
                            </div>
                            <div class="label">
                                <mark>Cool task</mark>
                                <br>
                                <time datetime="05-12-2016">12 March 2016 - h 9:30 am</time>
                            </div>
                        </div>
                        <span class="task-msg">Well done!</span>
                    </li>
                    <li>
                        <div class="checkbox">
                            <div class="check">
                                <input type="checkbox" name="task_01">
                                <div class="ripple-container">
                                    <div class="check-off"></div>
                                    <div class="check-on"><i class="fa fa-check"></i></div>
                                    <div class="check-ripple"></div>
                                </div>
                            </div>
                            <div class="label">
                                <mark>Another task which takes more than one line</mark>
                                <br>
                                <time datetime="05-12-2016">12 March 2016</time>
                            </div>
                        </div>
                        <span class="task-msg">Well done!</span>
                    </li>
                    <li>
                        <div class="checkbox">
                            <div class="check">
                                <input type="checkbox" name="task_02">
                                <div class="ripple-container">
                                    <div class="check-off"></div>
                                    <div class="check-on"><i class="fa fa-check"></i></div>
                                    <div class="check-ripple"></div>
                                </div>
                            </div>
                            <div class="label">
                                <mark>Cool task</mark>
                                <br>
                                <time datetime="05-12-2016">12 March 2016</time>
                            </div>
                        </div>
                        <span class="task-msg">Well done!</span>
                    </li>*@
                </ul>
            }
        </section>

        <section class="task-list notcurrent">
            <h3>Do it later</h3>
            <ul>
                <li>
                    <div class="checkbox">
                        <div class="check">
                            <input type="checkbox" name="task_03">
                            <div class="ripple-container">
                                <div class="check-off"></div>
                                <div class="check-on"><i class="fa fa-check"></i></div>
                                <div class="check-ripple"></div>
                            </div>
                        </div>
                        <div class="label">
                            <mark>Cool task</mark>
                            <br>
                            <time datetime="05-12-2016">12 March 2016</time>
                        </div>
                    </div>
                    <span class="task-msg">Well done!</span>
                </li>
                <li>
                    <div class="checkbox">
                        <div class="check">
                            <input type="checkbox" name="task_03">
                            <div class="ripple-container">
                                <div class="check-off"></div>
                                <div class="check-on"><i class="fa fa-check"></i></div>
                                <div class="check-ripple"></div>
                            </div>
                        </div>
                        <div class="label">
                            <mark>Cool task</mark>
                            <br>
                            <time datetime="05-12-2016">12 March 2016</time>
                        </div>
                    </div>
                    <span class="task-msg">Well done!</span>
                </li>
                <li>
                    <div class="checkbox">
                        <div class="check">
                            <input type="checkbox" name="task_04">
                            <div class="ripple-container">
                                <div class="check-off"></div>
                                <div class="check-on"><i class="fa fa-check"></i></div>
                                <div class="check-ripple"></div>
                            </div>
                        </div>
                        <div class="label">
                            <mark>Cool task</mark>
                            <br>
                            <time datetime="05-12-2016">12 March 2016</time>
                        </div>
                    </div>
                    <span class="task-msg">Well done!</span>
                </li>
            </ul>
        </section>
    }
    else
    {
        <div class="content">NO ITEMS? <a asp-controller="Productivity" asp-action="СreateProject">CREATE ONE</a></div> //!!!!!!!!!!!!!!!!!

        <section class="one">
            <div class="wrapper"></div>
        </section>

        <section class="two">
            <div class="wrapper"></div>
        </section>

        <section class="three">
            <div class="wrapper"></div>
        </section>

        <section class="four">
            <div class="wrapper"></div>
        </section>
    }
        </main >
    
<script>
    (function($) {

        /* Select the checkbox */
        var checkList = $('.check'),
            toDoCheck = checkList.children('input[type="checkbox"]');

        /* Check out whether checkbox is checked, and add 'task-checked' class to
          the closest <li> item
        */
        toDoCheck.each(function(index, element) {
            var $this = $(element),
                taskItem = $this.closest('li');

            $this.on('click', function(e) {
                taskItem.toggleClass('task-checked');
            });
        });

    })(jQuery);
</script>